/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(53, 53, 53);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

/* TRANSITION */

* {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

.header-nav {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 70%;
  z-index: 1000;
  background-color: rgb(120, 120, 120, 0.25);
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 25rem;
}

.header-nav:hover {
  background-color: rgb(150, 150, 150, 0.5);
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(240, 240, 240);
  text-decoration: none;
  text-decoration-color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a:hover {
  color: rgb(28, 28, 28);
  padding: 0.5rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(28, 28, 28);
}

p {
  color: rgb(240, 240, 240);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

p.subtitle {
  text-shadow: none;
}

.checkbox:hover {
  color: rgb(28, 28, 28);
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

.logo a:hover {
  color: rgb(28, 28, 28);
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  text-decoration-color: white;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  height: 2px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  transition: all 300ms ease-in-out;
}

.menu-links {
  position: absolute;
  top: 130%;
  right: 0%;
  background-color: rgb(28, 28, 28);
  border-radius: 1rem;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.menu-links a:hover {
  background-color: black;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: rgb(28, 28, 28);
  color: rgb(240, 240, 240);
  cursor: pointer;
}

/* SECTIONS */

section {
  padding-top: 20vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* MAIN SECTION */

#main {
  width: 100vw;
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.hero-title {
  font-size: 3rem;
  object-fit: cover;
  display: block;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/* DETAILS SECTION */

#details {
  position: relative;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 68vh;
  margin-top: -50px;
}

.details-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 250, 250);
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  width: 60%;
  height: 75%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.details-background:hover {
  background-color: rgba(240, 240, 240);
}

.details-background h1,
.details-background p {
  color: rgb(28, 28, 28);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* STORY PAGE */

#story {
  position: relative;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding-bottom: 2rem;
  margin-top: -50px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(250, 250, 250);
  border: 4px solid rgb(58, 58, 58);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.timeline-container p {
  margin: 0;
  color: rgb(28, 28, 28);
  text-shadow: none;
}

.video-container video {
  border-radius: 1rem;
}

/* REGISTRY PAGE */

#registry {
  position: relative;
}

/* RSVP PAGE */

#rsvp {
  position: relative;
}

#entire-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  color: blue;
}

.label {
  color: rgb(240, 240, 240);
  display: block;
  font-size: 1rem;
}

.button,
.button.is-link {
  background-color: rgb(28, 28, 28);
  color: rgb(240, 240, 240);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-color: rgb(240, 240, 240);
  cursor: pointer;
}

.button.is-link:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(28, 28, 28);
}

/* FOOTER */

footer {
  height: 26vh;
  margin: 0 1rem;
  background-color: rgb(28, 28, 28);
}

footer p {
  text-align: center;
  color: rgb(240, 240, 240);
}

footer a:hover {
  color: rgb(150, 150, 150);
  text-decoration: none;
}

.footer-nav {
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
